<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal form-material" #autoForm="ngForm">
                    <div class="form-group">
                        <label class="col-sm-12">Tipos</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line" id="tipo" name="tipo"
                                (change)="cargarMarcas()" [(ngModel)]="tipo" class="form-control">
                                <option [ngValue]="undefined">Seleccionar...</option>
                                <option *ngFor="let tipo of tipos" [ngValue]="tipo">
                                    {{ tipo.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Marcas</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line" id="marca" name="marca"
                                (change)="cargarModelos()" [(ngModel)]="marca" class="form-control">
                                <option [ngValue]="undefined">Seleccionar...</option>
                                <option *ngFor="let marca of marcas" [ngValue]="marca">
                                    {{ marca.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Modelos</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line" id="modelo" name="modelo"
                                [(ngModel)]="modelo" class="form-control">
                                <option [ngValue]="undefined">Seleccionar...</option>
                                <option *ngFor="let modelo of modelos" [ngValue]="modelo">
                                    {{ modelo.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="placa" class="col-md-12">Placa</label>
                        <div class="col-md-12">
                            <input id="placa" name="placa" [(ngModel)]="auto.placa" type="text"
                                class="form-control form-control-line" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="chasis" class="col-md-12">Chasis</label>
                        <div class="col-md-12">
                            <input id="chasis" name="chasis" [(ngModel)]="auto.chasis" type="text"
                                class="form-control form-control-line" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="color" class="col-md-12">Color</label>
                        <div class="col-md-12">
                            <input id="color" name="color" [(ngModel)]="auto.color" type="text"
                                class="form-control form-control-line" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="observacion" class="col-md-12">Observaciones</label>
                        <div class="col-md-12">
                            <input id="observacion" name="observacion" [(ngModel)]="auto.observacion" type="text"
                                class="form-control form-control-line" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-success" (click)="create()">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->