<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal form-material" #empleadoForm="ngForm">
                    <div class="form-group">
                        <label for="cedula" class="col-md-12">Cedula</label>
                        <div class="col-md-12">
                            <input id="cedula" name="cedula" [(ngModel)]="empleado.cedula" type="text"
                                class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nombres" class="col-md-12">Nombres</label>
                        <div class="col-md-12">
                            <input id="nombres" name="nombres" [(ngModel)]="empleado.nombres" type="text"
                                class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellidos" class="col-md-12">Apellidos</label>
                        <div class="col-md-12">
                            <input id="apellidos" name="apellidos" [(ngModel)]="empleado.apellidos" type="text"
                                class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="correo" class="col-md-12">Correo</label>
                        <div class="col-md-12">
                            <input [(ngModel)]="empleado.correo" type="email" class="form-control form-control-line"
                                name="correo" id="correo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fechaNacimiento" class="col-md-12">Fecha Nacimiento</label>
                        <div class="col-md-12">
                            <input [(ngModel)]="empleado.fechaNacimiento" class="form-control form-control-line"
                                name="fechaNacimiento" id="fechaNacimiento">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="direccion" class="col-md-12">Direccion</label>
                        <div class="col-md-12">
                            <input [(ngModel)]="empleado.direccion" class="form-control form-control-line"
                                name="direccion" id="direccion">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="celular" class="col-md-12">Celular</label>
                        <div class="col-md-12">
                            <input [(ngModel)]="empleado.celular" class="form-control form-control-line" name="celular"
                                id="celular">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-success">
                                <input id="vacunado" type="checkbox" [(ngModel)]="empleado.vacunado">
                                <label for="vacunado">Vacunado</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Tipo Vacuna</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line">
                                <option>London</option>
                                <option>India</option>
                                <option>Usa</option>
                                <option>Canada</option>
                                <option>Thailand</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->